.App {
  text-align: center;
}

.ThoughtProducer {
  width: 50%;
  border: 0.1em solid black;
  margin: 1em auto;
  padding: 1em 0;
  position: relative;
}

.ThoughtProducer input[name="username"]{
  position: absolute;
  top: 0.2em;
  left: 1em;
  z-index: 0;
}

.ThoughtProducer input[type="submit"]{
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
}

.ThoughtProducer textarea {
  width: 90%;
  position: relative;
  top: 1em;
  left: 1em;
}

.ThoughtUserDisplay {
  margin: 0;
  margin-bottom: 0.5em;
}

.Thought {
  margin: 1em;
  border: solid 0.1em black;
  padding: 0.5em;
}

.ThoughtUserDisplay img {
  position: relative;
  top: 1em;
  width: 3em;
  height: 3em;
  display: inline-block;
}

.ThoughtUserDisplay h4 {
  margin-left: 1em;
  display: inline-block;
}

.ThoughtPage {
  width: 100%;
  height: 100%;
  background-color: grey;
  position: absolute;
}

.CenteredDiv {
  min-width: 50%;
  min-height: 100%;
  background-color: lightgrey;
  position: absolute;
  left: 25%;
}

.InputForm {
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: center;
}

.InputForm input, {
  display: block;
  margin-bottom: 1em;
  border-radius: 10%;
  min-width: 15em;
  min-height: 1.5em;
}

.ThoughtProducer input[type="text"] {
  display: block;
  margin-bottom: 1em;
  min-height: 1.5em;
  border-radius: 10%;
}

.ThoughtProducer input[type="submit"] {
  color: white;
  background-color: black;
  border-radius: 20%;
}

.InputForm button, 
.InputForm input[type="submit"], {
  color: white;
  background-color: black;
  border-radius: 20%;
}

.CircleDragon {
  position: absolute;
  animation: spin 7s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
